@using Studio.Application.Employees.Queries.GetPageEmployeeById;
@model EmployeeProfileViewModel;

@{
    ViewData["Title"] = "Steps";
}

<div class="text-center">
    <h1 class="display-4">@Model.FirstName</h1>
</div>
