@using Studio.Domain.Entities;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<StudioUser> UserManager;

@{
    ViewData["Title"] = "Successful Appointment";
}

<h1>Успешна резервация</h1>

<form asp-action="Index" asp-controller="Home" method="get" >
    <input type="submit" class="btn btn-primary" placeholder="Начало" />
</form>

