@{
    ViewData["Title"] = "About";
}

<partial name="_Header" />

<main>
    <div class="app-steps">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 hidden-xs hidden-sm make-app-img">
                    <img src="~/img/about/about1.jpeg" alt="Make App" />
                </div>
                <div class="col-xs-12 col-md-5 col-md-offset-1 ">
                    <div class="make-app-box">
                        <h3>Защо studioto.bg е успешен проект?</h3>
                        <p>Studioto.bg e лесна и удобна платформа за резервиране на час в любимото студио или салон само за няколко минути. Тя дава възможност за бърза комуникация между потребителя и бизнеса, като гарантира както точност за изпълнение на услугата, така и гъвкавост при възникване на непредвидени обстоятелства при клиента, служителя на салона или на самия салон. </p>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-5">
                    <div class="make-app-box">
                        <h3 id="AboutBusiness">Защо studioto.bg е полезен за бизнеса?</h3>
                        <p>С изпозването на платформата бизнесът се възползва от една уникална възможност за оптимизация на времето. Тя елиминира постоянното звънене по телефона, като осигурява спокойствието на служителите през почивните дни или техните ваканции. Отделно от това, могат вторично да се извлекат данни за посещенията на клиентите, информация за тях, както и техните контакти.</p>
                    </div>
                </div>
                <div class="col-xs-12 hidden-xs hidden-sm col-md-6 col-md-offset-1  make-app-img">
                    <img src="~/img/about/about2.jpeg" alt="Make App" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 hidden-xs hidden-sm col-md-6 make-app-img">
                    <img src="~/img/about/about3.jpeg" alt="Make App" />
                </div>
                <div class="col-xs-12 col-md-5 col-md-offset-1 ">
                    <div class="make-app-box">
                        <h3>Как studioto.bg помага на потребителите?</h3>
                        <p>Често, когато звъним по телефона, нашият фризьор или козметик е прекалено зает да си вдигне телефона и дори когато го вдигне, обикновено не може да говори. Това е предпоставка за възникване на грешки, в следствие на недобрата комуникация. Всички тези неудобства с използването на платформата вече са в миналото. Лесно, бързо и удобно потребителя вече може да запазва час само с няколко клика на мишката.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-5">
                    <div class="make-app-box">
                        <h3>Studioto.bg ще промени представите ви!</h3>
                        <p>Екипът на studioto.bg е млад, вдъхновен и отворен към новите възможности. Плановете са studito.bg да се превърне в истински професионален продукт, носещ висока стойност за потребителите и бизнеса. С времето платформата ще продулажава да се развива и подобрява, а потребителите и ще са все по-доволни от новите и иновативни начини за използването и.</p>
                    </div>
                </div>
                <div class="col-xs-12 hidden-xs hidden-sm col-md-6 make-app-img col-md-offset-1 ">
                    <img src="~/img/about/about4.jpeg" alt="Make App" />
                </div>
            </div>            
        </div>
    </div>


    <div class="appointment-wrapper">
        <img class="makeapp-img" src="~/img/index/apple.png" alt="Резервация" />
        <div class="book-online-box">
            <img src="~/img/logo/logo-black.png" alt="Logo Image" />
            <p>Book online, enjoy at the place!</p>
            <a asp-controller="Location" asp-action="All" class="make-app" title="Резервирай">Резервирай</a>
        </div>
    </div>
</main>
