@{
    ViewData["Title"] = "About";
}

<partial name="_Header" />

<main>
    <div class="app-steps">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 hidden-xs hidden-sm make-app-img">
                    <img src="~/img/about/about1.jpeg" alt="Make App" />
                </div>
                <div class="col-xs-12 col-md-5 col-md-offset-1 ">
                    <div class="make-app-box">
                        <h3>Защо studioto.bg е успешен проект?</h3>
                        <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-5">
                    <div class="make-app-box">
                        <h3>Защо studioto.bg е полезен за бизнеса?</h3>
                        <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? </p>
                    </div>
                </div>
                <div class="col-xs-12 hidden-xs hidden-sm col-md-6 col-md-offset-1  make-app-img">
                    <img src="~/img/about/about2.jpeg" alt="Make App" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 hidden-xs hidden-sm col-md-6 make-app-img">
                    <img src="~/img/about/about3.jpeg" alt="Make App" />
                </div>
                <div class="col-xs-12 col-md-5 col-md-offset-1 ">
                    <div class="make-app-box">
                        <h3>Как studioto.bg помага на потребителите?</h3>
                        <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-5">
                    <div class="make-app-box">
                        <h3>Studioto.bg ще промени представите ви!</h3>
                        <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? </p>
                    </div>
                </div>
                <div class="col-xs-12 hidden-xs hidden-sm col-md-6 make-app-img col-md-offset-1 ">
                    <img src="~/img/about/about4.jpeg" alt="Make App" />
                </div>
            </div>            
        </div>
    </div>


    <div class="appointment-wrapper">
        <img class="makeapp-img" src="~/img/index/apple.png" alt="Резервация" />
        <div class="book-online-box">
            <img src="~/img/logo/logo-black.png" alt="Logo Image" />
            <p>Book online, enjoy at the place!</p>
            <a asp-controller="Location" asp-action="All" class="make-app" title="Резервирай">Резервирай</a>
        </div>
    </div>
</main>
