@using Studio.Application.Locations.Queries.GetFilteredLocations;
@model LocationsFilteredListViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <ul>
        @foreach (var location in Model.Locations)
        {
            <li><a asp-controller="Location" asp-action="Studio" asp-route-id="@location.Id">@location.Name</a></li>
        }
    </ul>
</div>
