@{
    ViewData["Title"] = "Steps";
}
<partial name="_Header" />

<main>
    <div class="app-steps">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 hidden-xs hidden-sm make-app-img">
                    <img src="~/img/steps/app1.jpg" alt="Make App" />
                </div>
                <div class="col-xs-12 col-md-5 col-md-offset-1 ">
                    <div class="make-app-box">
                        <h3> Стъпка 1 - изберете студио</h3>
                        <p>Studioto.bg ви предоставя лесна и удобна възможност за резервиране. Можете да запазите час след като се регистрирате на сайта ни. В профила си ще можете да видите всички настоящи и отминали резервации. След регистрацията, можете да разгледате салоните като използвате търсачката на началната страниця. Изберете предпочитан от вас град, търсете по име на салон или име на процедура и натиснете "търси". След това на бутона резевирай ви очаква страницата на студиото, което сте харесали.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-5">
                    <div class="make-app-box">
                        <h3> Стъпка 2 - изберете служител</h3>
                        <p>С избора на предпочитано студио или салон, ще видите профилната страница на студиото. В нея можете да се запознате с краткото описание на салона, адреса, телефона както и работното време и работните дни. Също така в дясно е разположена малка галерия със снимки, чрез която да добиете представа за интериора на салона, в случай че планирате първо посещение там. Отдоу можете да видите връзки към профилите на служителите на салона и информация за тяхната длъжност. С натискане на бутона резервирай, ще влезете в прфола на съответния служител. </p>
                    </div>
                </div>
                <div class="col-xs-12 hidden-xs hidden-sm col-md-6 col-md-offset-1  make-app-img">
                    <img src="~/img/steps/app2.jpg" alt="Make App" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 hidden-xs hidden-sm col-md-6 make-app-img">
                    <img src="~/img/steps/app3.jpg" alt="Make App" />
                </div>
                <div class="col-xs-12 col-md-5 col-md-offset-1 ">
                    <div class="make-app-box">
                        <h3> Стъпка 3 - изберете ден</h3>
                        <p>В прфила на служителя ще видите отново негова снимка, информация за длъжностите, които заема в салона, както и форма за запазване на час. Тя включва избор на дата, избор на услуга, избор на час, както и опцията за добавяне на коментар, чрез който Вие запознавате служителя със специфичните Ваши изисквания за избраната от вас услуга. В първото поле от формата се намира календара, от който избирате предпочината от Вас дата. Внимание: датата не може да бъде в почивните дни или в миналото. След като я изберете, преминете към избора на услуга.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-5">
                    <div class="make-app-box">
                        <h3> Стъпка 4 - изберете услуга</h3>
                        <p>В падащото меню под датата ще видите предлаганите от служителя услуги, както и тяхната цена. Важно уточнение е, че в едно студио може да има двама служители с еднакви длъжности, които да предлагат различни услуги, а също така да предлагат еднакви услуги на различни цени. Ако не намерите желаната от Вас услуга на желаната от Вас цена, можете да се върнете назад и да изберете друг служител. Можете да добавите Вашите специфични изисквания в полето за коментар.</p>
                    </div>
                </div>
                <div class="col-xs-12 hidden-xs hidden-sm col-md-6 make-app-img col-md-offset-1 ">
                    <img src="~/img/steps/app4.jpg" alt="Make App" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 hidden-xs hidden-sm col-md-6 make-app-img">
                    <img src="~/img/steps/app5.jpg" alt="Make App" />
                </div>
                <div class="col-xs-12 col-md-5 col-md-offset-1 ">
                    <div class="make-app-box">
                        <h3> Стъпка 5 - изберете час и потвърдете регистрацията</h3>
                        <p>С избора на валидна дата и услуга ще се активира падащото меню със свободните часове на служителя. Часовете ще ви бъдат представени на интервали с продължителност на избраната от Вас услуга. След като изберете и часа за резервация и цялата форма е попълнена, с натискането на бутона "Резервирай" ще направите своята резервация. Можете да я видите в профила си, като в същото време ще получите имейл, с който резевацията Ви е потвърдена.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="appointment-wrapper">
        <img class="makeapp-img" src="~/img/index/apple.png" alt="Резервация" />
        <div class="book-online-box">
            <img src="~/img/logo/logo-black.png" alt="Logo Image" />
            <p>Book online, enjoy at the place!</p>
            <a asp-controller="Location" asp-action="All" class="make-app" title="Резервирай">Резервирай</a>
        </div>
    </div>
</main>
