
@{
    ViewData["Title"] = "Админ панел";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Добре дошли в административния панел на studioto.bg! Лека работа!
        </h1>
        <ol class="breadcrumb"></ol>
    </section>  
</div>

