
@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Welcome, Administrator
        </h1>
        <ol class="breadcrumb"></ol>
    </section>  
</div>

