
@{
    ViewData["Title"] = "Админ панел";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Добре дошли в административния панел на studioto.bg! Лека работа!</h1>
        <br/>
        <h1>Инструкции за ползване</h1>
        <br/>
        <p>Можете да създавате в следната последователност и да изтривате в обратната последователност</p>
        <br/>
        <ol>
            <li>Създаване на фирма, държава или бизнес без ограничения.</li>
            <li>Създаване на град след избрана държава.</li>
            <li>Създаване на адрес след избран град.</li>
            <li>Създаване на обект след избрана фирма и свободен адрес.</li>
            <li>Създаване на служител след избран обект.</li>
            <li>Създаване на услуга след избран бизнес.</li>
            <li>Присвояване на обект дадена бизнес без ограничения.</li>
            <li>Присвояване на служител дадена услуга без ограничения.</li>
        </ol>
        <br/>

        <p>Благодарим Ви!</p>
        <ol class="breadcrumb"></ol>
    </section>  
</div>

