<footer>
    <div class="container footer-info no-padding">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <span>Приложението</span>
                <a href="javascript:void(0)" title="Какво е STUDIOTO.BG">Какво е studioto.bg?</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-1 customers">
                <span>Потребители</span>
                <a href="javascript:void(0)" title="Как да реагирам">Как да реагирам?</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-1">
                <span>Бизнеса</span>
                <a href="javascript:void(0)" title="Оптимизация">Оптимизация</a>
                </br>
                <a href="javascript:void(0)" title="Мнения">Мнения</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-1 contact-us-wrapper">
                <div class="contact-us">
                    <span>Възка с нас</span>
                    <p>contact@studioto.bg</p>
                    <a href="javascript:void(0)" title="Контакти">Контакти</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-disclaimers">
        <div class="container no-padding">
            <div class="row">
                <div class="col-xs-12 copyrights">
                    <p>2019. Powered by CyberEarthTechnology</p>
                </div>
            </div>
        </div>
    </div>
</footer>


