<footer>
    <div class="container footer-info no-padding">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <span>Приложението</span>
                <a asp-controller="Home" asp-action="About" title="Какво е STUDIOTO.BG?">Какво е studioto.bg?</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-1 customers">
                <span>Потребители</span>
                <a asp-controller="Home" asp-action="Steps" title="Как да резервирам?">Как да резервирам?</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-1">
                <span>Бизнеса</span>
                <a asp-controller="Home" asp-action="About" asp-fragment="AboutBusiness" title="Оптимизация">Оптимизация</a>
                <br/>
                <a asp-controller="Home" asp-action="Index" asp-fragment="Comments" title="Мнения">Мнения</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-1">
                <div class="contact-us">
                    <span>Възка с нас</span>
                    <p>contact@studioto.bg</p>
                    <a asp-controller="Home" asp-action="Contacts" title="Контакти">Контакти</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-disclaimers">
        <div class="container no-padding">
            <div class="row">
                <div class="col-xs-12 copyrights">
                    <p>2019. Powered by CyberEarthTechnology</p>
                </div>
            </div>
        </div>
    </div>
</footer>


