@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="loginWrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 logo">
                <img src="~/img/logo/logo-black.png" alt="logo" />
                <p class="slogan">Book online, enjoy the place!</p>
                <h3>Добре дошли отново! Благодарим Ви!</h3>
            </div>
            <div class="col-xs-12">
                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <input asp-for="Input.Password" type="password" class="form-control" aria-describedby="emailHelp" placeholder="Парола">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <button type="submit" class="btn btn-primary">ВЛЕЗ</button>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </form>
                @*<p><a class="info" id="forgot-password" asp-page="./ForgotPassword">Забравена парола?</a></p>*@
                <p><a class="info" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Нов в studio.bg? <strong>Присъедини се сега!</strong></a></p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}