@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<partial name="_Header" />
<main>
<div class="loginWrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 logo">
                <img src="~/img/logo/logo-black.png" alt="logo" />
                <p class="slogan">Book online, enjoy the place!</p>
                <h3>РЕГИСТРАЦИЯ</h3>
            </div>
            <div class="col-xs-12">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Input.FirstName" class="form-control" placeholder="Име" />
                    <input asp-for="Input.LastName" class="form-control" placeholder="Фамилия" />
                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Телефон" />
                    <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                    <input asp-for="Input.Password" class="form-control" placeholder="Парола"/>
                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Потвърди парола" />
                    <button type="submit" class="btn btn-primary">ПОТВЪРДИ</button>
                </form>                
                <p><a class="info" asp-page="./Login">Вече си се регистрирал? <strong>Логни ме!</strong></a></p>
            </div>
        </div>
    </div>
</div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
